body{
  font-family: fantasy;

  background: #f0f0f0;
}

h1{
  width: 75%;
  text-shadow: 1px 1px 1px #000;
  font-size: 5em;
  color: blue;
  text-align: center;
  }

.showPostHeading{
  text-align: center;
  }

.postBodyShowPost{
  font-family: monospace;
  text-align: center;
  word-wrap: break-word;
  }

/*.photoShow{
  text-align: center;
  width: 3em;
  height: 3em;
}*/

.imageShow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  max-height: 50em;
}

#topNav {
  width: 100%;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-right: none;

}

#topNav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#topNav ul li {
  list-style: none;
  float: right;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #ccc;
  /*width: 16.6667%; fallback for non-calc() browsers*/
  width: calc(100% / 6);
  box-sizing: border-box;
}

#topNav ul li:first-child {
  border-left: none;
}

#topNav ul li a {
  display: block;
  text-decoration: none;
  color: #616161;
  padding: 10px 0;
}

#topNav ul li a:hover{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  background-color: silver;
}

.sideBar{

  float: right;
  height: 100%;
  width: 200px;
  text-shadow: 1px 1px 1px #000;
  color: blue;
}

.sideBar ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sideBar ul li{
  padding: 1em;
}

.newPost{
  text-align: center;
}

.mainBody{
  width: 75%;
}

/*#photoTextBox{
  text-align: center;
  display: block;
  margin-left: 90px;
}

#postTextBox{
  text-align: center;
  display: block;
  padding-top: 10px;
}*/

.commentTextBox{
  text-align: center;
}

.homeIndex{
  text-align: center;
  font-family: cursive;
}

.homeIndex ul{
  list-style-type: none;
}

.commentSection{
  font-family: cursive;
}

#addComment a:hover{
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  font-size: 2em;
  color: black;
}

.signIn{
  text-align: center;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
